* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    background-color: #E8F5E9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1B5E20;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15.6px;
    letter-spacing: 0.05em;

}

.profile-header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px 50px;
    margin: 40px;
    justify-content: stretch;
    grid-template-areas:
        "me bio"
        "me name"
        "me links";
}

.profile-avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    grid-row: span 3;
    overflow: hidden;
    grid-area: me;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-bio {
    align-self: start;
    font-size: 1em;
    grid-column: 1;
    line-height: 1;
    grid-area: bio;
    color: #b2d4b3;
}

.profile-name {
    font-size: 3em;
    margin: 0;
    grid-row: 2;
    justify-self: center;
    grid-area: name;

}



.links {
    grid-column: 3;
    display: flex;
    gap: 30px;
    margin-top: 10px;
    grid-area: links;
}

.link {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.link:hover svg path{
    fill: #1B5E20;
    transform: scale(1.1)
}

.link .description {
    position: absolute;
    bottom: -30px; /* Под объектом */
    left: 50%;
    transform: translateX(-50%);
    background-color: #1B5E20; /* Темно-зеленый фон */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0; /* По умолчанию скрыто */
    visibility: hidden; /* По умолчанию скрыто */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Показ описания при наведении */
.link:hover .description {
    opacity: 1;
    visibility: visible;
}

.profile-experience {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
}

.experience-item {
    display: grid;
    grid-template-columns: auto 1fr;
    /* grid-template-rows: 30px 50px; */
    gap: 20px;
    justify-content: stretch;
    grid-template-areas:
        "logo name"
        "position position";

    border-left: 1px solid #C8E6C9;
    border-bottom: 1px solid #C8E6C9;
    padding: 20px;
}
.experience-item:not(:first-child) {
    border-bottom: none;
}

.experience-item-company {
    grid-area: name;
    font-size: 1em;
}

.experience-item-position {
    grid-area: position;
    font-size: 1.5em;

}